.venv
__pycache__
crime.csv
houses_test.csv
house_big_2.csv
houses_small_2.csv
todo.md
zipcodes.db
zipcodes copy 2.db
zipcodes copy.db
house_prices.json
house_prices_test.json
data_test.py
houses.csv
C_houses.csv
.env