body {
    background-color: #2c2b30;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#search{ 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto; 
}

#search form { 
    display: flex; 
    gap: 10px;
}

#search input { 
    padding: 8px;
    font-size: 16px;
    width: 700px;
    color: #000000;
}

#search button { 
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    padding: 8px 16px 8px 16px;
    background-color: #1f77b4;
    color: white;
}


h1 { 
    text-align: center;
    color: red;
}

#graph {
    text-align: center;
}


#graph img { 
    box-shadow: 0px 0px 20px #5f5e5ed8;
}