{% extends "layout.html" %}

{% block style_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/detail.css') }}">
{% endblock %}



{% block body %}
    
    <div id="search">
        <a href="/">Home</a>
        <a href="/api/details?zipcode={{ display }}">API</a>
        <form action="{{ url_for('details') }}" method="get">

            <input list="zipcode" name="zipcode" autocomplete="off" autofocus placeholder="Enter Zipcode" type="text">
                <datalist id="zipcode">
                    {% for zip in zipcodes %}
                        <option value='{{ zip }}'>
                    {% endfor %}
                </datalist>

            <button type="submit">Submit</button>

        </form>
    </div>
    <div id="graph">
        <img src='data:image/png;base64,{{ barchart }}'/>
    </div>
    <div id="info">
        <h1>SPLIT THE INFO PART into 4 tiny boxes </h1>
        <h1>Average's For {{ display }} Through (2020-2025)</h1>
        <ul>
            <li>Mean Price: {{ "${:,.2f}".format(info[0]) }}</li>
            <li>Price / Sq Ft: {{ "${:.2f}".format(info[1]) }}</li>
            <li>Houses Sold: {{ info[2]|round|int }}</li>
            <li>Total Volume: {{ "${:,.2f}".format(info[3]) }}</li>
        </ul>
    </div>
    <div id="blocks">
        <div class="block" id="block1">
            <h2>Mean Price</h2>
        </div>
        <div class="block" id="block2">
            <h2>Price / Sq Ft</h2>
        </div>
        <div class="block" id="block3">
            <h2>Houses Sold</h2>
        </div>
        <div class="block" id="block4">
            <h2>Total Volume</h2>
        </div>
    </div>
    <div id="footer">
        <a href="https://github.com/nicolas-fiore">Visit My Github!</a>
    </div>
{% endblock %}