{% extends "layout.html" %}

{% block style_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/detail.css') }}">
{% endblock %}



{% block body %}
    
    <div id="search">
        <a href="/">Home</a>
        <a href="/api/details?zipcode={{ display }}">API</a>
        <form action="{{ url_for('details') }}" method="get">

            <input list="zipcode" name="zipcode" autocomplete="off" autofocus placeholder="Enter Zipcode" type="text">
                <datalist id="zipcode">
                    {% for zip in zipcodes %}
                        <option value='{{ zip }}'>
                    {% endfor %}
                </datalist>

            <button type="submit">Submit</button>

        </form>
    </div>
    
    <div class="graphs">
        <img class="barchart" src='data:image/png;base64,{{ barchart }}'/>
        <div class="piechart">{{ fig | safe}}</div>
    </div>
    <div id="middle">

        <div id="block-header"> 
            <h1>Stats for 2020-2025</h1>
        </div>

        <div id="blocks">
    
            <div class="block" id="block1">
                <h2>Average Mean Price: <br>{{ "${:,.2f}".format(info[0]) }}</h2>    
            </div>
            <div class="block" id="block2">
                <h2>Average Price / Sq Ft: <br>{{ "${:.2f}".format(info[1]) }}</h2>
            </div>
            <div class="block" id="block3">
                <h2>Total Houses Sold: <br>{{ info[2] }}</h2>
            </div>
            <div class="block" id="block4">
                <h2>Average Total Volume: <br>{{ "${:,.2f}".format(info[3]) }}</h2>
            </div>
        
        </div>
    
    </div>
    
    <div id="footer">
        <a href="https://github.com/nicolas-fiore">Visit My Github!</a>
    </div>
{% endblock %}